# This workflow uses actions that are not certified by GitHub.  They are
# provided by a third-party and are governed by separate terms of service,
# privacy policy, and support documentation.
#
# This workflow will install a prebuilt Ruby version, install dependencies, and
# run tests and linters.
name: "Ruby on Rails CI"
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11-alpine
        ports:
          - "5432:5432"
        env:
          POSTGRES_DB: rails_test
          POSTGRES_USER: rails
          POSTGRES_PASSWORD: password
    env:
      RAILS_ENV: test
      DATABASE_URL: "postgres://rails:password@localhost:5432/rails_test"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      # Add or replace dependency steps here
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@78c01b705fd9d5ad960d432d3a0cfa341d50e410 # v1.179.1
        with:
          bundler-cache: true
      # Add or replace database setup steps here
      - name: Set up database schema
        run: bin/rails db:schema:load
      # Add or replace test runners here
      - name: Run tests
        run: bin/rake

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@78c01b705fd9d5ad960d432d3a0cfa341d50e410 # v1.179.1
        with:
          bundler-cache: true
      - name: Generate binstubs
        run: bundle binstubs bundler-audit brakeman rubocop
      # Add or replace any other lints here
      - name: Security audit dependencies
        run: bin/bundler-audit --update
      - name: Security audit application code
        run: bin/brakeman -q -w2
      - name: Lint Ruby files
        run: bin/rubocop --parallel
            - имя: Кэш
  используется: actions/cache@v5.0.0
  с:
    # Список файлов, каталогов и шаблонов с подстановочными знаками для кэширования и восстановления
    путь:
    # Явный ключ для восстановления и сохранения кэша
    ключ:
    # Упорядоченная многострочная строка, содержащая список ключей, соответствующих префиксу, которые используются для восстановления устаревшего кэша, если для ключа не было попадания в кэш. Обратите внимание, что `cache-hit` в этом случае возвращает false.
    restore-keys: # необязательно
    # Размер фрагмента, используемый для разделения больших файлов во время загрузки, в байтах
    upload-chunk-size: # необязательно
    # Необязательный логический параметр. При включении позволяет средствам запуска приложений Windows сохранять или восстанавливать кэш, который можно восстановить или сохранить соответственно на других платформах.
    enableCrossOsArchive: # необязательный параметр, по умолчанию false
    # Завершение рабочего процесса, если запись в кэше не найдена
    fail-on-cache-miss: # необязательный параметр, по умолчанию false
    # Проверяем, существует ли запись в кэше для заданных входных данных (ключ, restore-keys) без загрузки кэша.
    lookup-only: # необязательный параметр, по умолчанию false
    # Выполните этап постобработки, чтобы сохранить кэш, даже если предыдущий этап завершился неудачей.
    save-always: # необязательный параметр, по умолчанию false
          
